<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>联系我们</title>
  <link rel="stylesheet" type="text/css" href="../public/css/layouts/index.css">
  <link rel="stylesheet" type="text/css" href="../public/css/pages/contact.scss">
</head>
<body>
<header class="header-wrap align-center">
  <div class="common-width align-center" id="navigationBar">
    <div class="display-inline logo-wrap">

    </div>
    <nav class="display-inline">
      <ul class="link-wrap">
        <li><a class="home-link" href="home.html">首页</a></li>
        <li><a  class="about-link" href="about.html">关于星合</a></li>
        <li><a  class="production-link" href="production.html">产品服务</a></li>
        <li><a  class="customerservice-link" href="customerservice.html">客户服务</a></li>
        <li><a  class="contactus-link" href="contactus.html">联系我们</a></li>
        <li><a class="transaction-link" href="transaction.html">网上交易</a></li>
      </ul>
    </nav>
    <div class="display-inline login-wrap align-center">
      <button class="login-btn">立即登录</button>
    </div>
  </div>
</header>
<div class="height-80"></div>
<section class="container-fluid contact-us-banner">

</section>


<section class="common-width">
  <div class="text-left contact-content">
    <h1 class="title">星合金融集團有限公司</h1>
    <div class="sub-title">
      <span class="text-capitalize">starwin</span><span class="text-capitalize">&nbsp;&nbsp;financial</span>
      <span class="text-capitalize">&nbsp;&nbsp;group</span><span class="text-capitalize">&nbsp;&nbsp;limited</span>
    </div>
    <div class="line-hr"></div>
    <div class="content">
      <img src='../public/images/contactus/map.png'>
      <div class="contact-info-wrap">
        <p class="phone">电话：＋852  31571219</p>
        <p class="mail">邮箱：service@starwin.com</p>
        <p class="address">地址：香港中環皇后大道中59-65號泛海大廈7樓09室</p>
      </div>
    </div>
  </div>
</section>


<footer class="footer-wrap">
  <div class="common-width align-top">
    <div class="display-inline gray-logo-wrap">
    </div>
    <div class="display-inline company-info-wrap">
      <p>星合金融集团有限公司为香港证监会认可的持牌法团</p>
      <p>©2017 星合金融集团有限公司版权所有</p>
    </div>
    <div class="display-inline other-info">
      <div>
        <div class="display-inline text-left" style="width: 75px;">咨询电话</div>
        <span style="font-size: 18px;color: #f9f9f9">+852 31571219</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">交易日</div>
        <span >09：00-次日05:008</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">非交易日</div>
        <span>09:30-21:15</span>
      </div>
    </div>
    <div class=" display-inline wechat-sina-f-wrap">
      <ul class="list-inline">
        <li class="wechat"></li>
        <li class="sina"></li>
        <li class="facebook"></li>
      </ul>
    </div>
  </div>
</footer>
<script src="../public/js/libs/jquery-1.11.1.min.js"></script>
<script src="../public/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/common/header.js"></script>
</body>
</html>