<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>星河金融</title>
  <meta name="keywords" content="星合金融,星合金融证券，港股，美股，基金">
  <link rel="stylesheet" type="text/css" href="../public/css/layouts/index.css">
  <link rel="stylesheet" type="text/css" href="../public/css/pages/home.scss">
</head>
<body>

<header class="header-wrap align-center">
  <div class="common-width align-center" id="navigationBar">
    <div class="display-inline logo-wrap">

    </div>
    <nav class="display-inline">
      <ul class="link-wrap">
        <li><a class="home-link" href="home.html">首页</a></li>
        <li><a class="about-link" href="about.html">关于星合</a></li>
        <li><a class="production-link" href="production.html">产品服务</a></li>
        <li><a class="customerservice-link" href="customerservice.html">客户服务</a></li>
        <li><a class="contactus-link" href="contactus.html">联系我们</a></li>
        <li><a class="transaction-link" href="transaction.html">网上交易</a></li>
      </ul>
    </nav>
    <div class="display-inline login-wrap align-center">
      <button class="login-btn">立即登录</button>
    </div>
  </div>


  <div class="common-width" id="phoneNav">
    <div class="display-inline logo-wrap">

    </div>
    <div class="show-menu">
      显示导航
    </div>
    <nav class="nav-wrap">
      <ul class="link-wrap">
        <li><a class="home-link" href="home.html">首页</a></li>
        <li><a class="about-link" href="about.html">关于星合</a></li>
        <li><a class="production-link" href="production.html">产品服务</a></li>
        <li><a class="customerservice-link" href="customerservice.html">客户服务</a></li>
        <li><a class="contactus-link" href="contactus.html">联系我们</a></li>
        <li><a class="transaction-link" href="transaction.html">网上交易</a></li>
        <div class="display-inline login-wrap align-center">
          <button class="login-btn">立即登录</button>
        </div>
      </ul>
    </nav>
  </div>

</header>

<div class="height-80"></div>

<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-banner-1"></div>
    </div>
    <div class="item">
      <div class="carousel-banner-2"></div>
    </div>
    <div class="item">
      <div class="carousel-banner-3"></div>
    </div>
    <div class="item">
      <div class="carousel-banner-4"></div>
    </div>
  </div>
</div>
<section class="full-width">
  <div class="index-opacity-bg"></div>
  <div class="common-width indexes-wrap">
      <div class="index-wrap">
        <div class="index-title index-flag1">恒生指数</div>
        <div class="index"><span>28302.890</span>
          <div class="display-inline index-up"></div>
        </div>
        <div class="index-float-wrap">
          <span>＋147.920</span>
          <span>＋0.53% </span>
        </div>
      </div>
      <div class="index-wrap">
        <div class="index-title index-flag1">国企指数</div>
        <div class="index"> 28302.890<span></span>
          <div class="display-inline index-down"></div>
        </div>
        <div class="index-float-wrap">
          <span>－17.920</span>
          <span>－0.47%</span>
        </div>
      </div>
    <div class="phone-de-line">
    </div>
    <div class="index-wrap">
      <div class="index-title index-flag2">标准普尔</div>
      <div class="index"><span>2557.150</span>
        <div class="display-inline index-up"></div>
      </div>
      <div class="index-float-wrap">
        <span>＋11.920 </span>
        <span>＋0.47%</span>
      </div>
    </div>

    <div class="text-center down-load-wrap">
      <p>免费极速即时报价<br/>
        Click 一下即可获取</p>
      <div class="download-btn">下载报价及交易软件</div>
    </div>

  </div>
</section>

<h3 class="text-center first-title">
  一个账户投资港美股
</h3>
<p class="text-center first-para">腾讯|阿里|苹果|谷歌&nbsp;身边的好公司尽在港美股</p>


<div>难画的曲线</div>

<section class="center-block third-section">
  <h3 class="text-center third-title">
    安全无忧&nbsp;&nbsp;金融科技多重保障
  </h3>
  <p class="text-center third-para">让您的投资更放心</p>
  <div class="common-width tow-promise">
    <div class="promise">
      <img src="../public/images/home/promise1.png">
      <div class="text-center promise-text">
        <h3>规管保驾</h3>
        <p>遵循香港证监会严格监管</p>
        <p>客户资产独立托管于银行</p>
      </div>
    </div>
    <div class="promise">
      <img src="../public/images/home/promise1.png">
      <div class="text-center promise-text">
        <h3>科技护航</h3>
        <p>核心数据保险箱</p>
        <p>全方位防护客户信息安全</p>
      </div>
    </div>
  </div>
</section>

<section class="common-width text-center fourth-section">
  <h3 class="center-block first-title">金钱永不眠&nbsp;&nbsp;星合金融随时随地为你交易</h3>
  <div class="advantage-wrap">
    <div class="advantage">
      <img src="../public/images/home/advan1.png">
      <span>安全</span>
    </div>
    <div class="advantage">
      <img src="../public/images/home/advan2.png">
      <span>准确</span>
    </div>
    <div class="advantage">
      <img src="../public/images/home/advan3.png">
      <span>稳定</span>
    </div>
    <div class="advantage">
      <img src="../public/images/home/advan4.png">
      <span>快速</span>
    </div>
    <div class="advantage">
      <img src="../public/images/home/advan5.png">
      <span>好用</span>
    </div>
  </div>
  <img class="fourth-section-banner" src='../public/images/home/ipmac.png'>
</section>

<section class="download-icons-wrap">
  <div class="down-opacity-bg"></div>
  <div class="common-width icons-wrap">
    <div class="icon-wrap text-center">
      <img src="../public/images/home/pc.png">
      <h3>Pc</h3>
      <div class="text">下载</div>
    </div>
    <div class="icon-wrap text-center">
      <img src="../public/images/home/mac.png">
      <h3>Mac</h3>
      <div class="text">下载</div>
    </div>
    <div class="icon-wrap text-center">
      <img src="../public/images/home/iphone.png">
      <h3>iPhone</h3>
      <div class="text">下载</div>
    </div>
    <div class="icon-wrap text-center">
      <img src="../public/images/home/android.png">
      <h3>Android</h3>
      <div class="text">下载</div>
    </div>
  </div>
</section>

<footer class="footer-wrap">
  <div class="common-width align-top">
    <div class="display-inline gray-logo-wrap">
    </div>
    <div class="display-inline company-info-wrap">
      <p>星合金融集团有限公司为香港证监会认可的持牌法团</p>
      <p>©2017 星合金融集团有限公司版权所有</p>
    </div>
    <div class="display-inline other-info">
      <div>
        <div class="display-inline text-left" style="width: 75px;">咨询电话</div>
        <span style="font-size: 18px;color: #f9f9f9">+852 31571219</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">交易日</div>
        <span>09：00-次日05:008</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">非交易日</div>
        <span>09:30-21:15</span>
      </div>
    </div>
    <div class=" display-inline wechat-sina-f-wrap">
      <ul class="list-inline">
        <li class="wechat"></li>
        <li class="sina"></li>
        <li class="facebook"></li>
      </ul>
    </div>
  </div>
</footer>

</body>
<script src="../public/js/libs/jquery-1.11.1.min.js"></script>
<script src="../public/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/common/header.js"></script>
<script src="../public/js/libs/jquery.smoove.min.js"></script>
<script type="text/javascript" src="../public/js/libs/transform.js"></script>
<script type="text/JavaScript" language="JavaScript">
  var obj = document.body;

  function s22t() {
    obj.innerHTML = s2t(obj.innerHTML);
  }

  function t22s() {
    obj.innerHTML = t2s(obj.innerHTML);
  }
</script>
<script>
  $(function () {
    // 初始化轮播
    $('.carousel').carousel()

    //动画播放
    $('.first-para , .first-title, .third-para,.third-para, .tow-promise, .advantage-wrap, .icons-wrap').smoove({
      opacity: 0.3
    });
  })
</script>
</html>