<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>产品服务</title>
  <link rel="stylesheet" type="text/css" href="../public/css/layouts/index.css">
  <link rel="stylesheet" type="text/css" href="../public/css/pages/production.scss">
</head>
<body>

<header class="header-wrap align-center">
  <div class="common-width align-center" id="navigationBar">
    <div class="display-inline logo-wrap">

    </div>
    <nav class="display-inline">
      <ul class="link-wrap">
        <li><a class="home-link" href="home.html">首页</a></li>
        <li><a  class="about-link" href="about.html">关于星合</a></li>
        <li><a  class="production-link" href="production.html">产品服务</a></li>
        <li><a  class="customerservice-link" href="customerservice.html">客户服务</a></li>
        <li><a  class="contactus-link" href="contactus.html">联系我们</a></li>
        <li><a class="transaction-link" href="transaction.html">网上交易</a></li>
      </ul>
    </nav>
    <div class="display-inline login-wrap align-center">
      <button class="login-btn">立即登录</button>
    </div>
  </div>
</header>

<div class="height-80"></div>

<div class="production-banner"></div>

<section class="common-width" id="one">
  <div class="center-block production-types-wrap">
    <div class="type-wrap">
      <img src='../public/images/production/1_zhengquan.png'>
      <div class="text-center">證券交易</div>
    </div>
    <div class="type-wrap">
      <img src='../public/images/production/2_zhaiquan.png'>
      <div class="text-center">債券</div>
    </div>
    <div class="type-wrap">
      <img src='../public/images/production/3_zichan.png'>
      <div class="text-center">资产管理</div>
    </div>
    <div class="type-wrap">
      <img src='../public/images/production/4_erji.png'>
      <div class="text-center">二級市場基金</div>
    </div>
    <div class="type-wrap">
      <img src='../public/images/production/5_touzi.png'>
      <div class="text-center">投资顾问服务</div>
    </div>
    <div class="type-wrap">
      <img src='../public/images/production/5_qita.png'>
      <div class="text-center">其他金融產品</div>
    </div>
  </div>
</section>

<div class=" common-width del-line"></div>
<section class="content-wrap" id="two">
  <img src="../public/images/production/p1.png">
  <div class="display-inline odd-type-wrap">
    <img src="../public/images/production/01.png">
    <h3 class="sub-title">證券交易</h3>
    <p class="para">港股，美股，深港通，滬港通，從中分散投資風險，客戶可靈活地買賣債券，把握投資先機。</p>
  </div>
</section >

<div class=" common-width del-line"></div>
<section class="content-wrap" id="three">
  <div class="even-type-wrap">
    <img src="../public/images/production/02.png">
    <h3 class="sub-title">債券</h3>
    <p class="para">星合提供多種債券産品，以便客戶在瞬息萬變的市場中享受較穩定的利息回報，並從中分散投資風險，客戶可靈活地買賣債券，把握投資先機。透過我們的綜合債券代理人服務，
      包括代收債券利息、權益行使、到期贖回債券及二手市場買賣服務。</p>
  </div>
  <img src="../public/images/production/p2.png">
</section>

<div class=" common-width del-line"></div>
<section class="content-wrap" id='four'>
  <img src="../public/images/production/p3.png">
  <div class="display-inline odd-type-wrap">
    <img src="../public/images/production/03.png">
    <h3 class="sub-title">二級市場基金</h3>
    <p class="para">星合致力為客戶提供專業且多元化的投資產品。除本地及環球證券買賣外,
      我們亦提供多隻來自國際知名的基金管理公司並經香港證監會認可的二級市場基金以供客戶選擇,
      務求為客戶提供更勝一籌的環球投資優勢, 以實現理財增值的目標。</p>
  </div>
</section>

<div class=" common-width del-line"></div>
<section class="content-wrap" id='five'>
  <div class="display-inline even-type-wrap">
    <img src="../public/images/production/04.png">
    <h3 class="sub-title">投资顾问</h3>
    <p class="para">投资顾问，以便客戶在瞬息萬變的市場中享受較穩定的利息回報，並從中分散投資風險，
      客戶可靈活地買賣債券，把握投資先機。透過我們的綜合債券代理人服務，
      包括代收債券利息、權益行使、到期贖回債券及二手市場買賣服務。</p>
  </div>
  <img src="../public/images/production/p4.png">
</section>

<div class="common-width del-line"></div>
<section class="content-wrap" id="six">
  <img src="../public/images/production/p5.png">
  <div class="display-inline odd-type-wrap">
    <img src="../public/images/production/05.png">
    <h3 class="sub-title">其他金融產品</h3>
    <p class="para">星合提供的投資產品專業及多元化。除本地及環球證券交易外，我們另提供多種結構性產品
      、衍生產品買賣服務，以實現理財及增值的目標。</p>
  </div>
</section>

<footer class="footer-wrap">
  <div class="common-width align-top">
    <div class="display-inline gray-logo-wrap">
    </div>
    <div class="display-inline company-info-wrap">
      <p>星合金融集团有限公司为香港证监会认可的持牌法团</p>
      <p>©2017 星合金融集团有限公司版权所有</p>
    </div>
    <div class="display-inline other-info">
      <div>
        <div class="display-inline text-left" style="width: 75px;">咨询电话</div>
        <span style="font-size: 18px;color: #f9f9f9">+852 31571219</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">交易日</div>
        <span >09：00-次日05:008</span>
      </div>
      <div>
        <div class="display-inline text-left" style="width: 75px;">非交易日</div>
        <span>09:30-21:15</span>
      </div>
    </div>
    <div class=" display-inline wechat-sina-f-wrap">
      <ul class="list-inline">
        <li class="wechat"></li>
        <li class="sina"></li>
        <li class="facebook"></li>
      </ul>
    </div>
  </div>
</footer>

</body>
<script src="../public/js/libs/jquery-1.11.1.min.js"></script>
<script src="../public/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/common/header.js"></script>
<script src="../public/js/libs/jquery.smoove.min.js"></script>
<script type="text/javascript" src="../public/js/libs/transform.js"></script>
<script type="text/JavaScript" language="JavaScript">
  var obj = document.body;

  function s22t() {
    obj.innerHTML = s2t(obj.innerHTML);
  }

  function t22s() {
    obj.innerHTML = t2s(obj.innerHTML);
  }
</script>
<script>
  $(function() {

    //动画播放
    $('#one, #two, #three, #four, #five, #six').smoove({
      opacity: 0.3
    });
  })
</script>
</html>