<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>星河金融</title>
    <link rel="stylesheet" type="text/css" href="../public/css/layouts/index.css">
    <link rel="stylesheet" type="text/css" href="../public/css/pages/transaction.scss">
</head>
<body>

<header class="header-wrap align-center">
    <div class="common-width align-center" id="navigationBar">
        <div class="display-inline logo-wrap">

        </div>
        <nav class="display-inline">
            <ul class="link-wrap">
                <li><a class="home-link" href="home.html">首页</a></li>
                <li><a  class="about-link" href="about.html">关于星合</a></li>
                <li><a  class="production-link" href="production.html">产品服务</a></li>
                <li><a  class="customerservice-link" href="customerservice.html">客户服务</a></li>
                <li><a  class="contactus-link" href="contactus.html">联系我们</a></li>
                <li><a class="transaction-link" href="transaction.html">网上交易</a></li>
            </ul>
        </nav>
        <div class="display-inline login-wrap align-center">
            <button class="login-btn">立即登录</button>
        </div>
    </div>
</header>

<div class="height-80"></div>

<div class="transaction-banner"></div>


<section class="bg-f2">
    <div class="common-width text-center flags-wrap">
        <img src='../public/images/transaction/flag1.png'>
        <img src='../public/images/transaction/flag2.png'>
        <img src='../public/images/transaction/flag3.png'>
        <h2 class="text-center sub-title">直连交易所、三大市场行情看</h2>
        <p class="text-center sub-para">提供A股、港股及美股三大市场行情，助你准确判断、轻松决策。</p>
    </div>
</section>

<section class="common-width transaction-content odd-wrap" id="one">
    <div class="text-wrap">
        <h2 class="title">极速下单</h2>
        <h2 class="title">抢占投资先机</h2>
        <p class="para">为你提供最稳定快速的交易体验。</p>
    </div>
    <img src="../public/images/transaction/photo2.png">
</section>
<section class="common-width transaction-content even-wrap" id="two">
    <img src="../public/images/transaction/photo3.png">
    <div class="text-wrap">
        <h2 class="title">聊天互动</h2>
        <h2 class="title">牛人高手带你纵横股海</h2>
        <p class="para">三大市场各拥独立聊天室，支持多人在线交流。<br />
            听牛人高论，看牛人分享实盘收益成果。<br />
            新推出牛牛圈功能，让你发布心得关注朋友动态，<br />
            形成自己的投资社交圈。</p>
    </div>
</section>
<section class="common-width transaction-content odd-wrap" id="three">
    <div class="text-wrap">
        <h2 class="title">安全稳定</h2>
        <h2 class="title">信息资产安全严格保障</h2>
        <p class="para"> 自建底层架构坚实可靠，<br />
            采用银行级保安及军用级加密技术全面守卫，<br />
            运用世界级领先技术一次性通过联交所测试， <br />
            是投资者安心之选。<br />
        </p>
    </div>
    <img src="../public/images/transaction/photo1.png">
</section>
<section class="common-width transaction-content even-wrap" id="four">
    <img src="../public/images/transaction/photo4.png">
    <div class="text-wrap">
        <h2 class="title">全平台覆盖</h2>
        <h2 class="title">随时随地跟紧市场脉搏</h2>
        <p class="para">市场上领先实现全部终端完美对接的行情交易软<br />
            件，覆盖PC、 Mac、 Android、 iOS等多个不<br />
            同平台，满足你不同场景下的需求。<br />
        </p>
    </div>
</section>

<footer class="footer-wrap">
    <div class="common-width align-top">
        <div class="display-inline gray-logo-wrap">
        </div>
        <div class="display-inline company-info-wrap">
            <p>星合金融集团有限公司为香港证监会认可的持牌法团</p>
            <p>©2017 星合金融集团有限公司版权所有</p>
        </div>
        <div class="display-inline other-info">
            <div>
                <div class="display-inline text-left" style="width: 75px;">咨询电话</div>
                <span style="font-size: 18px;color: #f9f9f9">+852 31571219</span>
            </div>
            <div>
                <div class="display-inline text-left" style="width: 75px;">交易日</div>
                <span >09：00-次日05:008</span>
            </div>
            <div>
                <div class="display-inline text-left" style="width: 75px;">非交易日</div>
                <span>09:30-21:15</span>
            </div>
        </div>
        <div class=" display-inline wechat-sina-f-wrap">
            <ul class="list-inline">
                <li class="wechat"></li>
                <li class="sina"></li>
                <li class="facebook"></li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script src="../public/js/libs/jquery-1.11.1.min.js"></script>
<script src="../public/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/common/header.js"></script>
<script src="../public/js/libs/jquery.smoove.min.js"></script>
<script type="text/javascript" src="../public/js/libs/transform.js"></script>
<script type="text/JavaScript" language="JavaScript">
  var obj = document.body;

  function s22t() {
    obj.innerHTML = s2t(obj.innerHTML);
  }

  function t22s() {
    obj.innerHTML = t2s(obj.innerHTML);
  }
</script>
<script>
  $(function() {
    //动画播放
    $('.flags-wrap , #one, #two, #three, #four').smoove({
      opacity: 0.3
    });
  })
</script>
</html>